* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Palatino, 'Times New Roman', Times, serif;
}

:root {
    --light-purp: #dbd8e3;
    --med1-purp: #5c5470;
    --med2-purp: #352f44;
    --dark-purp: #2a2438; 

    --bg-color: #212121;
    --main-txt-color: #f5f5f5;

    background: var(--bg-color);
    color: var(--main-txt-color);
}

#outlet {
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
}

#header {
    width: 100%;
    padding: 2rem;
    background-color: var(--med1-purp);
    display: flex;
    justify-content: space-between;
}

h2 { 
    font-family: 'Bradley Hand';
}

button {
    padding: 0.5rem 2.5rem;
    border: 2px solid var(--light-purp);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-txt-color);
    font-size: 1.25rem;
}

.container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 400px;
    height: 400px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.details .hidden {
    max-height: 0;
    overflow: hidden;
    /* transition: height 2s ease-in-out; */
    transition: max-height 2s;
    will-change: max-height;
}
  
.card:hover .hidden {
    max-height: 200px;
    /* transition: height 2s ease-in-out; */
}